/* CSS Document */
body {
    margin: 0;            /* Reset default margin */
}

  /* For mobile phones: */
@media only screen and (max-width: 768px) {
   { width: 100%; }
}


.error {
  width: 90%; margin: 1.0px auto; padding: 1px; border: 1px solid #a9444224; color: #de2925; background: #e9def252; border-radius: 5px; text-align: left; }
.success {color: #3c763d; background: #dff0d8; border: 1px solid #c6ecd0;}

/* Header CSS Start */
.Top_H { background-image:url(def/T_LINE.png); width: 100%; height: 101px; top:0; }
.Top_l { width: 10%; float:left; position:absolute; opacity: 0.9; border:0; border-bottom:0px; height: 80px; padding: 7px 0px; background:none; }
.Top_c { width: 70%; float:left; position:relative; height: 80px; margin-left: 190px; padding:20px 0px 0px 150px; background:none; text-decoration: underline wavy blue; text-align:center; color:#0a4a82; }
.Top_r { float:right; width: 11%; height: 64px; position:relative; background:none; text-align:center; padding: 2px 0px;}

.Top_H2 { width: 100%; height: 28px;  background-color: #eee;}
hr.newhr {border: 1px solid red; margin-top:0px; }

/* Header CSS End */

/* DefaultPage iframe Div start */
.top_frame { width: 100%; height: auto; top:0; left:0; position:absolute;}


.Top_U { background:#edf0ff; width: 100%; height: 30px; position:relative; margin-top: 5px; }
.top_usr { width: 20%; height: 12px;  float:left; position: initial; opacity: 0.9; border:0; border-bottom:0px;  padding: 7px 0px; background:none; text-transform: uppercase;}
.top_dt {  width: 70%; height: 10px; float:left;  position:absolute; padding-top:5px; background:none; text-align:center; color:#0a4a82;  margin-left: 520px; }
.Top_logout {width: 10%; padding-top: 1px; right: 10px; float:left;  position:absolute; background:none; text-align:center; margin-top: 2px; text-transform: uppercase; }
.btn:hover {background-color:#fffbfb; color: red; border: 1px #ff000075 solid; border-radius: 4px;}

.lpane_i { width:100%; height:300px;}
/* DefaultPage iframe Div End */


/*Work/Contant pane Start */

.maindiv {background:#e0f9f48a; width:100%; height:725px;   position:initial;  }

.leftPane { background:#edf0ff; width:12%; border:0px solid; height:720px; padding:1px 0px 0px 0px;  position:initial; float:left;}
.leftpane1 { background-image:url(def/T_LINE2.png); border:1px solid; border-color: #f5f6f9; height:40px; font-family:Microsoft Sans Serif, Helvetica, sans-serif; font-size:16px; font-weight: bold; text-align:center; padding: 15px 25px 0px 0px;}

.contentPane { background:#f5f6f9; width:42.5%; border:1px solid #fff; height:720px; padding:1px 0px 0px 0px; position:relative; float:left; }
.leftpane2 { background-color:#adb4ca; border:1px solid; border-color: #c0bde8; height:38px; font-family:Microsoft Sans Serif, Helvetica, sans-serif; font-size:24px; text-align:center; padding: 15px 25px 0px 0px;}
.content_error { background:#f5f6f9; width:85%; height:auto; margin-left: 40px;}


.rightPane { background:#f5f6f9; width:45%; border:1px solid #fff; height:720px; padding:1px 0px 0px 0px;  position:relative; float:left; }
.leftpane3 { background-color:#adb4ca;  border:1px solid; border-color: #f5f6f9; height:40px; font-family:Microsoft Sans Serif, Helvetica, sans-serif; font-size:24px; text-align:center; padding: 15px 25px 0px 0px;}

table { width: 100%; display:compact; text-align:center; border: 1px solid #a4d7ff;  position: static; margin-top:15px;}.
th { font-family:sans-serif; font-size:18px; background-color:#d0e1ff; font-style:normal; color:#142515;}
tr:nth-child(even){ background-color: #fff;}
thead { border: 1px solid #a4d7ff;  display:table-caption; /* to take the same width as tr */
		width: calc(100% - 17px); /* - 17px because of the scrollbar width */}
tbody { height: 586px; display: block; max-width: 100%; overflow: scroll; }


form #sub_pg {/* Center the form on the page */margin: 0 auto; width: 400px;
 			 /* Form outline */ padding: 1em; border: 1px solid #CCC; border-radius: 1em;}

ul {list-style: none; padding: 0; margin: 2px 0px 0px 30px;}

form li + li { margin-top: 1em;}

label { /* Uniform size & alignment */ display: inline-block; width: 90px; text-align: right;}

input, textarea { font: 1em sans-serif; height:30px; /* Uniform text field size */ width: 111px; box-sizing: border-box; /* Match form field borders */border: 1px solid #999; border-radius: 3px;}

#msg {margin: 0px; width: 660px; height: 220px; resize: none;}

input:focus, textarea:focus { /* Additional highlight for focused elements */ border-color: #000;}
textarea {  /* Align multiline text fields with their labels */  vertical-align: top; height: 5em;}

.button {  padding-left: 90px;}

.btn {  margin-left: .5em; padding: 5px 25px; font-size: 20px; text-align: center; cursor: pointer; outline: none; color: #fff; background-color: #142515; border: none; border-radius: 4px; box-shadow: 0 2px #999;}
/* This extra margin (margin-left) represent roughly the same space as the space between the labels and their text fields */
.btn:hover {background-color: #3a403a;}
.btn:active {background-color: #142515; box-shadow: 0 1px #666; transform: translateY(4px);}


/*Work/Contant pane End */







